@import './colors.scss';
@import './index.scss';
@import './signup.scss';

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: underline;
}

* {
    box-sizing: border-box;
    color: black !important;
    font-family: 'Archivo', serif;
}

.text {
    font-size: 18px;
}

.button {
    margin: 0px 10px;
    outline-color: black;
    border-color: black;
    background-color: transparent;
    color: black;

    &:hover {
        border-color: black;
        color: black;
    }
}

.input {
    width: 250px;
    border-color: black;
    background-color: transparent;

    &:hover {
        border-color: black;
    }
}

.blue-background {
    background: $yb-light-blue;
    width: 100%;
}

.title {
    color: black;
    font-size: 60px;
    font-weight: 600;
    font-family: 'Frank Ruhl Libre', serif;
}

.header {
    color: black;
    font-size: 42px;
    font-weight: 500;
    font-family: 'Frank Ruhl Libre', serif;
}
