.home {
    min-height: 100vh;
    width: 100vw;
    background-color: $yb-white;
    padding: 3rem 4rem;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .header-links {
            display: flex;
            margin-right: 2rem;

            p {
                margin: 0 10px;
                padding: 10px;
                cursor: pointer;
                text-transform: capitalize;

                &.active {
                    background-color: $yb-light-blue;
                    border-radius: 3px;
                }
            }
        }
    }

    .user-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .filters {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .help {
            text-align: right;
            color: #aaa !important;
            margin-top: 10px;
        }

        .filter {
            padding: 0px 5px;
            width: 23px;
            height: 23px;
            cursor: pointer;
            text-align: center;
            margin-right: 10px;

            &.active {
                background-color: $yb-light-blue;
                border-radius: 20px;
            }
        }
    }
}
