.home {
    max-height: calc(100vh - 2rem);
    min-height: calc(100vh - 2rem);
    width: calc(100vw - 2rem);
    background-color: $yb-white;
    padding: 1.5rem 3rem;
    margin: 1rem;
    border: 6px solid transparentize($yb-light-blue, 0.4);
    overflow: scroll;

    @media (max-width: $mobile) {
        padding: 1.5rem;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        @media (max-width: $mobile) {
            flex-direction: column;
        }

        .header {
            margin: 0;

            @media (max-width: $mobile) {
                font-size: 30px;
                margin-bottom: 10px;
            }
        }

        .header-links {
            display: flex;
            margin-right: 4rem;

            @media (max-width: $mobile) {
                margin-right: 1rem;
                margin-bottom: 1rem;
            }

            p {
                margin: 0 10px;
                padding: 10px;
                cursor: pointer;
                text-transform: capitalize;

                @media (max-width: $mobile) {
                    margin: 0 7px 0 0;
                    padding: 7px;
                    font-size: 14px;
                }

                &.active {
                    background-color: $yb-light-blue;
                    border-radius: 3px;
                }
            }
        }
    }

    .grid-container {
        display: flex;
        justify-content: space-between;

        .user-grid {
            display: flex;
            flex-wrap: wrap;
        }

        .filters {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            @media (max-width: $mobile) {
                position: fixed;
                top: 70px;
                bottom: 30px;
                right: 50px;
                justify-content: space-around;
                max-height: 600px;
            }

            .help {
                text-align: right;
                color: #aaa !important;
                margin-top: 5px;

                @media (max-width: $mobile) {
                    font-size: 10px;
                    max-width: 80px;
                }
            }

            .filter {
                padding: 0px 5px;
                width: 23px;
                height: 23px;
                cursor: pointer;
                text-align: center;
                margin-right: 10px;
                font-size: 14px;

                @media (max-width: $mobile) {
                    font-size: 12px;
                    width: 20px;
                    height: 20px;
                }

                &.active {
                    background-color: $yb-light-blue;
                    border-radius: 20px;
                }
            }
        }
    }
}
