.index {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    .background {
        background: $yb-light-blue;
        padding: 5rem;
        width: 100%;
    }

    .title {
        color: black;
        font-size: 60px;
        font-weight: 600;
        font-family: 'Frank Ruhl Libre', serif;
    }

    .input {
        width: 250px;
        border-color: black;
        background-color: transparent;
        &:focus {
            outline-color: black;
        }
    }

    .button {
        margin: 0px 10px;
        outline-color: black;
        border-color: black;
        background-color: transparent;
    }

    .help {
        margin: 10px;
    }

    * {
        font-family: 'Archivo', serif;
        color: black;
    }
}
