.index {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    .blue-background {
        padding: 5rem;
    }

    .help {
        margin: 10px;
    }
}
