.note {
    padding: 30px;
    max-width: 30vw;

    @media (max-width: $mobile) {
        padding: 10px 20px;
        width: 100%;
        max-width: 100%;
    }

    .label {
        margin: 10px 0 0;
        text-align: right;
        font-size: 14px;
        font-weight: 500;
    }

    .text {
        font-family: 'Frank Ruhl Libre', serif;
    }
}
