.signup {
    min-height: 100vh;
    width: 100vw;
    background-color: $yb-white;
    padding: 3rem 4rem;

    .header {
        margin-bottom: 15px;
    }

    .loading: {
        padding: 2rem;
    }

    .button {
        margin: 0px;
    }

    .submit {
        position: absolute;
        right: 6rem;
        bottom: 4rem;
        background-color: black;
        border: none;
        color: white !important;
    }

    .form {
        padding: 0 2rem;

        .field {
            margin: 15px 0 !important;

            .label {
                color: black !important;
                font-family: 'Archivo', sans-serif;
            }

            .input {
                &.name {
                    margin-right: 30px;
                    width: 200px;
                }
            }

            .textarea {
                @extend .input;
                min-width: 430px;
                min-height: 80px !important;
            }

            .image {
                width: 200px;
                height: 300px;
                object-fit: cover;
                border: 1px solid black;
                border-radius: 6px;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .option {
                margin: 5px 10px;
                padding: 5px 10px;
                width: 400px;

                &:hover {
                    background-color: #ddd;
                    cursor: pointer;
                }
            }

            .tags {
                display: flex;
                margin: 10px 0px;

                .tag {
                    background-color: $yb-light-blue;
                }
            }

            .link {
                border: none;
                margin: 0px;
                text-decoration: underline;
                outline: none;

                &:focus {
                    outline: none !important;
                }
            }
        }
    }
}
