.student {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    cursor: pointer;
    width: 150px;
    text-align: center;

    .image {
        height: 200px;
        width: 133px;
        object-fit: cover;
        border-radius: 6px;
        margin-bottom: 10px;
    }

    .bold {
        font-weight: 600;
    }
}
